body {
    padding: 20px;
    background-color: #456b7a;
  }

.card {
    border-width: 5px;
    border-radius: 25%;
    background-color: #263A29;
}

.card-text {
    color: #E86A33;
}

#header {
    color: #f2e54f;
}