body {
    padding: 20px;
    background-color: black;
  }

.card {
    padding: 10px;
}

.card-text {
    color: #3a4c6a;
}

#header {
    color: #f2e54f;
    text-align: center;
}

.navbar {
    padding: 10px;
    margin-bottom: 10px;
}

#first-card {
    margin-top: 60px;
}

.navbar-brand {
    font-family: title;
}

@font-face {
    font-family: title;
    src: url("./fonts/tommy.otf");
}

@font-face {
    font-family: card;
    src: url("./fonts/bank-printer.otf");
}